@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap');
// font-family: 'Open Sans', sans-serif;

body {
    margin: 0;
    padding: 0;
    overflow-y: overlay;
    -webkit-tap-highlight-color: transparent;
}

body:not(.scroll) {
    &::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--hina-color);
    border-radius: 8em;
    border: 1px solid black;
}

// global variables
:root {
    --hina-color: #f1bbff;
}
